<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>A Rails</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/styles.css">
  <script src="https://kit.fontawesome.com/2d71cd40b1.js" crossorigin="anonymous"></script>
</head>
<body>
  <div>
	  <% if(error && error.length > 0)  { %>
		  <div class="danger" role="alert">
			  <%= error %>
		  </div>
	  <% } %>
	  <% if(success && success.length > 0)  { %>
		  <div class="success" role="alert">
			  <%= success %>
		  </div>
	  <% } %>
  </div>
	
  <header>
    <h2><a href="https://github.com/arails"><i class="fab fa-github fa-2x"></i></a></h2>
    <nav>
      <li><a href="#portfolio">Portfolio</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </nav>
  </header>

  <section class="hero">
    <div class="background-image" style="background-image: url(/img/main.jpg);"></div>
    <div class="hero-content-area">
      <h1>Andrew Rails</h1>
      <h3>Tokyo-based designer and web developer</h3>
      <a href="#contact" class="btn">Reach Out Now</a>
    </div>
  </section>

  <section class="portfolio">
	<a name="portfolio"></a>
    <h3 class="title">Some of my past projects:</h3>
    <p>Below you'll find some of the projects I've brought to life. Click on the thumbnails to visit the sites or view larger versions of the designs.</p>
      <hr>
      <ul class="grid">
        <li class="small" style="background-image: url(/img/webears1.jpg);"><a href="https://fierce-crag-89006.herokuapp.com/"></a></li>
        <li class="large" style="background-image: url(/img/webears.jpg);"><a href="https://fierce-crag-89006.herokuapp.com/collections"></a></li>
        <li class="large" style="background-image: url(/img/coffeebranding.jpg);"></li>
        <li class="small" style="background-image: url(/img/scicons.jpg);"></li>
      </ul>
  </section>

  <section class="about">
	<a name="about"></a>
    <h3 class="title">About Me</h3>
    <hr>
    <p class="quote">I'm a Tokyo-based web developer, originally from America. I came to Japan in the Summer of 2016. While working as an assistant language teacher, I've been studying
	  and working with web development technologies <br>for the past 3 years. <br>Currently, I'm looking for new employment opportunities for front-end development. If you're interested in
		utilizing me in your business or project, please feel free to reach out. <br>Thank you,</p>
    <p class="author">- Andrew Rails
  </section>

  <section class="skills">
    <h3 class="title">My Toolkit</h3>
    <p>Over the past few years, I've worked hard to develop a well-rounded skillset to <br> take on a variety of development challenges (including front-end and back-end) <br>
      and think outside to box to find unique solutions to complex problems.</p>
    <hr>

    <ul class="grid">
      <li>
          <i class="fas fa-code fa-4x"></i>
        <h4>HTML / CSS / JavaScript</h4>
        <p>The "bread and butter" of front-end development. These were the first skills I learned when getting a taste for web development 3 years ago. 
        <br>I've used these three to develop increasingly complex projects during my journey as a developer.</p>
      </li>
      <li>
        <i class="fab fa-node fa-4x"></i>
        <h4>Node.js with Express</h4>
        <p>Having worked with JavaScript on the front-end, using Node for learning back-end development was an easy choice.
        By pairing Node with the Express framework, I've become comfortable with writing RESTful routes for all of my website projects.
        </p>
      </li>
      <li>
        <i class="fas fa-database fa-4x"></i>
        <h4>Mongo DB</h4>
        <p>This "NoSQL, document store" database has been my go-to database since learning node.js. I find it easy to understand, easy to work with, and (above all) reliable. 
        I've used both a local database as well as MongoDB Atlas for a cloud-based solution.</p>
      </li>
      <li>
        <i class="fab fa-adobe fa-4x"></i>
        <h4>Adobe Illustrator and Photoshop</h4>
        <p>Before I ever started my developer journey, I was a graphic designer. I've used Adobe Illustrator and Photoshop for 8 years to create designs for both personal
          and professional work.</p>
      </li>
    </ul>
  </section>
  
  <section class="contact">
	<a name="contact"></a>
    <h3 class="title">Get In Touch</h3>
    <p>If you would like to get in touch with me about an employment opportunity or a project you'd like help with, just enter your e-mail address below and I'll reach out
	  to you as soon as possible.</p>
    <hr>
    <form action="/send" method="POST">
      <input type="email" name="email" placeholder="Email">
      <button type="submit" class="btn">Reach out</button>
    </form>
  </section>

  <footer>
    <p>Copyright Andrew Rails 2019</p>
    <p>Images courtesy of <a href="http://unsplash.com/">unsplash</a></p>
    <ul>
      <li><a href="https://twitter.com/AndrewRails"><i class="fab fa-twitter-square fa-2x"></i></a></li>
      <li><a href="https://www.facebook.com/andrew.rails"><i class="fab fa-facebook-square fa-2x"></i></a></li>
      <li><a href="https://www.linkedin.com/in/andrew-rails/"><i class="fab fa-linkedin fa-2x"></i></a></li>
    </ul>
  </footer>
</body>
</html>